{% extends 'DashboardBundle:Default:index.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1 class="page-title">Ajouter un aliment</h1>
        <div class="page-header-actions">
            <ol class="breadcrumb">
                <li><a href="#">tableau de bord</a></li>
                <li class="active">ajouter un aliment</li>
            </ol>
        </div>
    </div>

    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading"></div>
                    <div class="panel-body container-fluid">
                        {{ form_start(form, {'method': 'POST'}) }}
                        <div class="form-group form-material floating">
                            {{ form_widget(form.aliment, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_label(form.aliment, null, {
                                'label': 'Nom de l\'aliment',
                                'label_attr': {'class': 'floating-label'}
                            }) }}
                        </div>
                        <div class="form-group form-material">
                            <button type="button" class="btn btn-primary waves-effect waves-light">Ajouter</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}