
<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <li class="site-menu-category">General</li>
                    <li class="site-menu-item active">
                        <a class="animsition-link" href="index.html">
                            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
                            <span class="site-menu-title">Favoris</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item has-sub">
                                <a href="javascript:void(0)">
                                    <span class="site-menu-title">Aliment</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="pages/maintenance.html">
                                    <span class="site-menu-title">Recette</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="pages/maintenance.html">
                                    <span class="site-menu-title">Activité</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="site-menu-category">Repas</li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
                            <span class="site-menu-title">Aliments</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item has-sub">
                                <a href="{{ path('dashboard_aliments_create') }}">
                                    <span class="site-menu-title">Ajouter un aliment</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('dashboard_aliments_list') }}" class="animsition-link" href="pages/maintenance.html">
                                    <span class="site-menu-title">Tous les aliments</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-palette" aria-hidden="true"></i>
                            <span class="site-menu-title">Recettes</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a href="{{ path('dashboard_recipes_create') }}" class="animsition-link" href="uikit/buttons.html">
                                    <span class="site-menu-title">Ajouter</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('dashboard_recipes_list') }}" class="animsition-link" href="uikit/dropdowns.html">
                                    <span class="site-menu-title">Toutes les recettes</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
           data-original-title="Settings">
            <span class="icon md-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
            <span class="icon md-eye-off" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon md-power" aria-hidden="true"></span>
        </a>
    </div>
</div>

{#<ul id="nav-mobile" class="side-nav fixed" style="left: 0">#}
    {#<li class="logo">Weight Watchers</li>#}
    {#<li class="bold">#}
        {#<a href="#">Tableau de bord</a>#}
    {#</li>#}
    {#<li class="bold">#}
        {#<a href="#">Ajout express</a>#}
    {#</li>#}
    {#<li class="no-padding">#}
        {#<ul class="collapsible collapsible-accordion">#}
            {#<li class="bold"><a class="collapsible-header waves-effect waves-teal">Aliment</a>#}
                {#<div class="collapsible-body">#}
                    {#<ul>#}
                        {#<li><a href="">Liste des aliments</a></li>#}
                        {#<li><a href="">Ajouter un aliment</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="no-padding">#}
        {#<ul class="collapsible collapsible-accordion">#}
            {#<li class="bold"><a class="collapsible-header waves-effect waves-teal">Recettes</a>#}
                {#<div class="collapsible-body">#}
                    {#<ul>#}
                        {#<li><a href="">Liste des recettes</a></li>#}
                        {#<li><a href="">Ajouter une recette</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="no-padding">#}
        {#<ul class="collapsible collapsible-accordion">#}
            {#<li class="bold"><a class="collapsible-header waves-effect waves-teal">Mes favoris</a>#}
                {#<div class="collapsible-body">#}
                    {#<ul>#}
                        {#<li><a href="">Recettes</a></li>#}
                        {#<li><a href="">Aliments</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="bold">#}
        {#<a href="#">Activité</a>#}
    {#</li>#}
    {#<li class="bold">#}
        {#<a href="#">Poids</a>#}
    {#</li>#}
{#</ul>#}