{% extends "::base.html.twig" %}

{% block title %}My Weight Watchers App{% endblock %}

{% block body %}
    {% block pageTitle %} <h1>Weight Watchers</h1> {% endblock %}
    <a href=""></a>

{% endblock %}